/*** SETUP ***/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
:root {
    /* COLORS */
    --hue: 317;
    --background-color: hsl(var(--hue), 16%, 8%);
    --font-color:       hsl(var(--hue), 0%, 100%);
    --icons-color:      hsl(var(--hue), 0%, 100%);
    --bright-color:     hsl(var(--hue), 100%, 50%);

    /* FONT-WEIGHT */
    --light: 300;
    --regular: 400;
    --medium: 500;
    --semi-bold: 600;
    --bold: 700;
}
body {
    background-color: var(--background-color);
}
*{
    margin:0;
    font-family: 'Quicksand', sans-serif;
}
body{
    background: var(--background-color);
    color: var(--font-color);
    padding: 0;
    overflow-x: hidden;
}
h1{
    font-size: 2rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
p, label{
    font-size: 1rem;
}
section{
    margin: 0;
    padding: 0;
    position: relative;
}

/************* LINKS *************/
a, .a{
    text-decoration: none;
    color: var(--font-color);
    cursor: pointer;

    padding: 0.5em 1em;
    border-radius: 0.75em;
    background-color: var(--background-color);
    transition: background-color 0.2s, color 0.2s;
}
a:hover, .a:hover{
    background-color: var(--font-color);
    color: var(--background-color);
}

/************* BUTTON *************/
.button {
    font-size: 1rem;
    font-weight: var(--semi-bold);
    color: var(--background-color);

    padding: 0.5em 1em;
    border-radius: 0.75em;
    background-color: var(--bright-color);
    border: 0.2em solid var(--bright-color);

    transition: background-color 0.2s, color 0.2s;
}
.button:hover{
    background-color: var(--background-color);
    color: var(--bright-color);
}






/************* HEADER *************/

header{
    position: relative;
    z-index: 100;
    border-bottom: 0.020em solid var(--font-color);
}
.header {
    padding: 1em 1em;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.header svg{
    fill: var(--icons-color);
    width: 2em;
    height: auto;
}
.header .others-icons{
    display: flex;
}
.logo {
    color: var(--font-color);
    position: relative;
    text-shadow: 0px 0px 20px var(--bright-color);
}
.links{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-content: center;
    padding: 1.5em 10em;
}

/* Invisible on bigger screens */
#list-icon{
    position: absolute;
    visibility: hidden;
}
#side-bar{
    list-style-type: none;
    position: absolute;
    top: 0;
    right: -100%;
    visibility: hidden;
    transition: right 0.3s;

    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: space-evenly;

    height: 100vh;
    padding: 0em 10em;
    background-color: var(--background-color);
    border-left: 0.020em solid var(--font-color);
}





/************* HOME *************/
#home{
    position: relative;
    z-index: 20;
}
/* SLIDES */
#home-slides {
    position: relative;
}
.slide{
    position: absolute;
    width: max(700px, 100%);
    transition: right 0.75s, left 0.75s;
}
.slide .image{
    object-fit: cover;
    width: max(700px, 100%);
    user-select: none;
}
#slide-1 {
    right: 0%;
}
#slide-2 {
    left: +100%;
}
.slide-text {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 5em;
    color: black
}
/* PAGINATION */
#image-placeholder{ /* makes it easier to set the pagination location */
    position: relative;
    visibility: hidden;
    width: max(700px, 100%);
}
.pagination svg{
    fill: black; /* depends on what image I end up chosing */
}
.pagination{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 1.5em;
}
.checked{
    visibility: hidden; 
}




/************* PRODUCTS & SALE *************/

#products, #sale{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 0.020em solid var(--font-color);
}
.section-title{
    text-align: center;
    margin: 1.5em 0;
}

.products-container, .sale-container{
    display: grid;
} 

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5em 1.5em;
    text-align: justify;
}
.product .description{
    max-width: 30em;
}
.product *{
    margin: 0.75em;
}
.product .image{
    object-fit: cover;
    width: max(250px, 25%);
    user-select: none;
}





/************* ABOUT *************/
#about{
    border-bottom: 0.020em solid var(--font-color);
}
.about-container {
    margin: 2em;
}





/************* FOOTER *************/

.footer-container {
    display: flex;
    line-height: 3em;
    justify-content: space-evenly;
}



/************* MEDIA QUERIES *************/

/* SMOL SCWEEN */
@media (max-width: 700px){
    /* set to hidden */
    .links{
        visibility: hidden;
        position: absolute;
    }
    .cart-icon{
        position: absolute;
        visibility: hidden;
    }

    /* set to visible */
    #list-icon{
        position: relative;
        visibility: visible;
        margin-left: 2em;
    }
    #close{
        position: absolute;
        left: 2em;
        top: 2em;
    }
    #side-bar.active{
        right: 0;
        visibility: visible;
    }
    .footer-container {
        display: block;
        text-align: center;
    }
}

@media (min-width: 1000px){
    .products-container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}
@media (min-width: 1250px){
    .sale-container{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
    }
}
@media (min-width: 1500px){
    .products-container{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }

}

