/*** SETUP ***/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
:root {
    /* COLORS */
    --hue: 317;
    --bright-color:     hsl(var(--hue), 100%, 50%);

    /*    LIGHT MODE */
    /*--background-color: hsl(var(--hue), 0%, 100%);
    --font-color:       hsl(var(--hue), 16%, 8%);
    --icons-color:      hsl(var(--hue), 16%, 8%);  */

    /* DARK MODE */
    --background-color: hsl(var(--hue), 16%, 8%);
    --font-color:       hsl(var(--hue), 0%, 100%);
    --icons-color:      hsl(var(--hue), 0%, 100%);
    
    /* FONT-WEIGHT */
    --light: 300;
    --regular: 400;
    --medium: 500;
    --semi-bold: 600;
    --bold: 700;
}
body {
    background-color: var(--background-color);
}
*{
    margin:0;
    font-family: 'Quicksand', sans-serif;
}
body{
    background: var(--background-color);
    color: var(--font-color);
    padding: 0;
    overflow-x: hidden;
}
h1{
    font-size: 2rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
p, label{
    font-size: 1rem;
}
section{
    margin: 0;
    padding: 0;
    position: relative;
}
a{
    text-decoration: none;
    color: var(--font-color);
}

/************* WHITE LINK *************/
.link{
    cursor: pointer;
    padding: 0.5em 1em;
    border-radius: 0.75em;
    background-color: var(--background-color);
    transition: background-color 0.2s, color 0.2s;
}
.link:hover{
    background-color: var(--font-color);
    color: var(--background-color);
}
.link svg{
    fill: var(--font-color);
    transition: fill 0.2s;
}
.link:hover svg{
    fill: var(--background-color);
}


/************* PINK BUTTON *************/
.button {
    font-size: 1rem;
    font-weight: var(--semi-bold);
    color: var(--background-color);

    cursor: pointer;

    padding: 0.5em 1em;
    border-radius: 0.75em;
    background-color: var(--bright-color);
    border: 0.2em solid var(--bright-color);

    transition: background-color 0.2s, color 0.2s;
}
.button:hover{
    background-color: var(--background-color);
    color: var(--bright-color);
}




/************* HEADER *************/

header{
    position: relative;
    z-index: 100;
    border-bottom: 0.020em solid var(--font-color);
}
.header {
    padding: 1em 1em;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.header svg{
    fill: var(--icons-color);
    width: 2em;
    height: auto;
}
.header .others-icons{
    display: flex;
}
.logo {
    color: #FFF;
    position: relative;
    text-shadow: 0px 0px 5px var(--font-color), 0px 0px 10px var(--bright-color),0px 0px 20px var(--bright-color), 0px 0px 20px var(--bright-color), 0px 0px 30px var(--bright-color);

}
.links{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-content: center;
    padding: 1.5em 10em;
}

/* Invisible on bigger screens */
#list-icon{
    position: absolute;
    visibility: hidden;
}
#side-bar{
    list-style-type: none;
    position: fixed;
    top: 0;
    right: -100%;
    visibility: hidden;
    transition: right 0.3s;

    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
    justify-content: space-evenly;

    height: 100vh;
    padding: 0em 5em 0 10em;
    background-color: var(--background-color);
    border-left: 0.020em solid var(--font-color);
}
#side-bar .link{
    display: flex;
    align-items: center;
}
#side-bar svg{
    margin-left: 0.5em;
}
#close svg{
    margin: 0 0.5em 0 0;
}

/************* HOME *************/
#home{
    position: relative;
    z-index: 20;
    border-bottom: 0.020em solid var(--font-color);
}
/* SLIDES */
#home-slides {
    position: relative;
}
.slide{
    position: absolute;
    width: max(700px, 100%);
    transition: right 0.75s, left 0.75s;
}
.slide .image{
    object-fit: cover;
    width: max(700px, 100%);
    user-select: none;
}
#slide-1 {
    right: 0%;
}
#slide-2 {
    left: +100%;
}
.slide-text {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 5em;
    color: black
}
/* PAGINATION */
#image-placeholder{ /* makes it easier to set the pagination location */
    position: relative;
    visibility: hidden;
    width: max(700px, 100%);
}
.pagination svg{
    fill: black; /* depends on what image I end up chosing */
}
.pagination{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 1.5em;
}
.checked{
    visibility: hidden; 
}




/************* PRODUCTS *************/

#products{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 0.020em solid var(--font-color);
}
.section-title{
    text-align: center;
    margin: 1.5em 0;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    column-gap: 2em;
} 
.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5em 1.5em;
    text-align: justify;
}
.product .description{
    max-width: 30em;
}
.product *{
    margin: 0.75em;
}
.product .image{
    object-fit: cover;
    width: max(250px, 25%);
    user-select: none;
    border-radius: 1em;
}




/************* ABOUT *************/
#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 0.020em solid var(--font-color);
}
.about-container {
    text-align: justify;
    columns: 30em;
    max-width: 1000px;
    margin: 2em;
}




/************* CHANGE & RESET COLOR *************/
#change-color{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 0.020em solid var(--font-color);
}
.color-container, .reset-container {
    display: flex;
    width: 30em;
    align-items: center;
    padding-bottom: 3.5em;

    justify-content: space-between;
    align-items: center;
}
#color-input, #change-color .button{
    width: 10em;
    height: 3.5em;
}





/************* FOOTER *************/
.footer-container {
    display: flex;
    line-height: 3em;
    justify-content: space-evenly;
}



/************* MEDIA QUERIES *************/

/* SMOL SCWEEN */
@media (max-width: 700px){
    /* set to hidden */
    .links{
        visibility: hidden;
        position: absolute;
    }
    .cart-icon{
        position: absolute;
        visibility: hidden;
    }

    /* set to visible */
    #list-icon{
        position: relative;
        visibility: visible;
        margin-left: 2em;
    }
    #close{
        position: absolute;
        left: 2em;
        top: 2em;
    }
    #side-bar.active{
        right: 0;
        visibility: visible;
    }

    /* change colors */
    .color-container, .reset-container {
        flex-direction: column;
        align-items: center;
    }
    #change-color .button{
        margin-top: 2em;
    }

    /* footer */
    .footer-container {
        display: block;
        text-align: center;
    }
}

/* CART */
#cart {
    padding: 0 2em 2em;
    border-bottom: 0.020em solid var(--font-color);
}
.item {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.item .image{
    object-fit: cover;
    width: min(200px, 30%);
    border-radius: 1em;
    margin: 2em;
    box-shadow: 0 0 0.2em  var(--font-color);
}
.item-description {
    height: 100%;
    margin: 4em 5em 0 0;
    align-self: flex-start;
}

.total-container {
    margin: 5em;
    display: flex;
    justify-content: space-evenly;
}
.cartEmpty{
    text-align: center;
    margin-top: 3em;
}

